<div class="grid_12">
  <div class="box">
    <h2><%=t :Edit_configuration_key %></h2>
    <br />

    <% form_for @configuration do |f| %>
      <fieldset>
        <legend><strong><%=t :Key %>:</strong> <%= @configuration.key %></legend>
          <p>
            <strong><%= label_tag t(:value) %>:</strong>
            <br />
            <%= f.text_area :value %>
          </p>
          <p>
            <%= f.submit t(:Update), :class => 'submit' %>
          </p>
      </fieldset>
    <% end %>
  </div>
</div>

