<% content_for :header do %>
    <h1><%=t :Edit %></h1>
<% end %>

<% content_for :back do %>
    <%= mobile_link_back_to new_email_password_reset_path %>
<% end %>

<% form_for @account, :builder => ErrorFormBuilder, :url => email_password_reset_path, :method => :put, :html => {'data-ajax' => false} do |f| %>
    <fieldset>
      <% if @account.errors.any? %>
          <div data-role="fieldcontain">
            <div data-role="collapsible">
              <h3><%=t 'activerecord.errors.template.header', :count => @account.errors.count %></h3>
              <p><%= f.error_messages %></p>
            </div>
          </div>
      <% end %>

      <div data-role="fieldcontain">
        <legend><%=t :Change_password %></legend>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div data-role="fieldcontain">
        <%= f.submit t(:Update_my_password_and_log_me_in) %>
      </div>
    </fieldset>
<% end %>
