<div class="grid_6 prefix_3 suffix_3">
  <div class="box">
    <% form_for @account, :builder => ErrorFormBuilder, :url => email_password_reset_path, :method => :put do |f| %>
      <fieldset>
        <legend><%=t :Change_password %></legend>
        <p><%= f.error_messages %></p>
        <p>
          <b><%= f.label :username %>:</b>
          <%=h @account.username %>
        </p>
        <p>
          <b><%= f.label :password %></b>
          <br />
          <%= f.password_field :password %>
        </p>
        <p>
          <b><%= f.label :password_confirmation %></b>
          <br />
          <%= f.password_field :password_confirmation %>
        </p>
        <p><%= f.submit t(:Update_my_password) %></p>
      </fieldset>
    <% end %>
  </div>
</div>
<div class="clear"></div>