<% content_for :header do %>
    <h1><%=t :Recover %></h1>
<% end %>

<% content_for :back do %>
    <%= mobile_link_back_to new_password_reset_path %>
<% end %>

<% form_tag email_password_resets_path, 'data-ajax' => false do %>
    <fieldset>
      <div data-role="fieldcontain">
        <%=t :Forgot_password_description_email %><br />
      </div>

      <div data-role="fieldcontain">
        <label><%=t :Email %></label>
        <%= text_field_tag "email_password_reset_email", {}, :name => 'email_password_reset[email]' %>
      </div>

      <div data-role="fieldcontain">
        <%= submit_tag t(:Reset_password) %>
      </div>
    </fieldset>
<% end %>
