<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% if owner.can_signup_via? AccountCommon::VERIFY_BY_MOBILE %>

    <% if owner.new_record? %>
        <li data-role="fieldcontain" class="verification-block mobile-phone ignore-toggle">
          <%= form.label :mobile_phone %>
          <p>&nbsp;</p>

          <%=t :mobile_phone, :scope => [:simple_form, :hints] %>
          <p>&nbsp;</p>

          <%= form.input :mobile_prefix, :collection => prefixes, :label => t(:Prefix), :prompt => t(:Choose) %>
          <%= form.input :mobile_suffix, :label => t(:Suffix) %>
        </li>

        <li data-role="fieldcontain" class="verification-block mobile-phone ignore-toggle" id="confirm_mobile_phone_number">
          <%= form.label :mobile_phone_confirmation %>
          <p>&nbsp;</p>

          <%= form.input :mobile_prefix_confirmation, :collection => prefixes, :label => t(:Prefix_confirmation), :prompt => t(:Choose) %>
          <%= form.input :mobile_suffix_confirmation, :label => t(:Suffix_confirmation) %>
        </li>
    <% else %>
        <% if owner.verify_with_mobile_phone? %>
            <li data-role="fieldcontain">
              <%= form.label :mobile_phone %>
              <p>&nbsp;</p>

              <%= form.input :mobile_prefix, :collection => prefixes, :label => t(:Prefix), :prompt => t(:select_prefix), :disabled => true %>
              <%= form.input :mobile_suffix, :label => t(:Suffix), :disabled => true %>
            </li>
        <% end %>
    <% end %>

<% end %>