<fieldset>
  <legend><%=t :Change_password %></legend>
  <p><%= form.error_messages %></p>

  <%= form.input :username, :disabled => true %>

  <%= form.input :password %>

  <%= form.input :password_confirmation %>

  <%= form.submit t(:Update_my_password) %>
</fieldset>