<% if owner.errors.any? %>
    <div data-role="collapsible">
      <h3><%=t :header, :count => owner.errors.count, :scope => [ :errors, :template ] %></h3>
      <p><%= form.error_messages %></p>
    </div>
<% end %>

<ul data-role="listview" data-inset="true">
  <li data-role="fieldcontain">
    <legend><%=t :Change_password %></legend>
  </li>

  <li data-role="fieldcontain">
    <%= form.input :username, :disabled => true %>
  </li>

  <li data-role="fieldcontain">
    <%= form.input :password %>
  </li>

  <li data-role="fieldcontain">
    <%= form.input :password_confirmation %>
  </li>

  <li data-role="fieldcontain">
    <%= form.submit t(:Update_my_password) %>
  </li>
</ul>