<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<li data-role="fieldcontain">
  <%= form.input :given_name, :disabled => !owner.new_record? %>
</li>

<li data-role="fieldcontain">
  <%= form.input :surname, :disabled => !owner.new_record? %>
</li>

<li data-role="fieldcontain"<% unless CONFIG['birth_date'] %> class="hidden"<% end %>>
  <%= form.input :birth_date, :as => :date,
                 :disabled => !owner.new_record?,
                 :start_year => Date.today.year - 90,
                 :end_year => Date.today.year - 14,
                 :order => [:day, :month, :year],
                 :prompt => true
  %>
</li>

<li data-role="fieldcontain"<% unless CONFIG['address'] %> class="hidden"<% end %>>
  <%= form.input :address %>
</li>

<li data-role="fieldcontain"<% unless CONFIG['zip'] %> class="hidden"<% end %>>
  <%= form.input :zip %>
</li>

<li data-role="fieldcontain"<% unless CONFIG['city'] %> class="hidden"<% end %>>
  <%= form.input :city %>
</li>

<li data-role="fieldcontain"<% unless CONFIG['state'] %> class="hidden"<% end %>>
  <%= form.input :state, :collection => countries, :prompt => false %>
</li>

<li data-role="fieldcontain">
  <%= form.input :username, :disabled => !owner.new_record? %>
</li>

<li data-role="fieldcontain">
  <%= form.input :email %>
</li>

<li data-role="fieldcontain" class="ignore-toggle">
  <%= form.input :email_confirmation %>
</li>

<li data-role="fieldcontain">
  <%= form.input :password %>
</li>

<li data-role="fieldcontain" class="ignore-toggle">
  <%= form.input :password_confirmation %>
</li>

