<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<%= form.input :given_name, :disabled => !owner.new_record? %>

<%= form.input :surname, :disabled => !owner.new_record? %>

<div<% unless CONFIG['birth_date'] %> class="hidden"<% end %>>
    <%= form.input :birth_date, :as => :date,
        :disabled => !owner.new_record?,
        :start_year => Date.today.year - 4,
        :end_year => Date.today.year - 100,
        :order => [:day, :month, :year],
        :prompt => true
    %>
</div>

<div<% unless CONFIG['address'] %> class="hidden"<% end %>>
    <%= form.input :address %>
</div>

<div<% unless CONFIG['zip'] %> class="hidden"<% end %>>
    <%= form.input :zip %>
</div>

<div<% unless CONFIG['city'] %> class="hidden"<% end %>>
    <%= form.input :city %>
</div>

<div<% unless CONFIG['state'] %> class="hidden"<% end %>>
    <%= form.input :state, :collection => countries, :prompt => false; %>
</div>

<%= form.input :username, :disabled => !owner.new_record? %>

<%= form.input :email %>

<%= form.input :email_confirmation %>

<% if current_operator %>
    <% content_for :after_defaults do %>
        <%= javascript_include_tag 'jquery.password' %>
        <%= javascript_tag "$(function(){
                $('#pwgen').click(function(e){
                    $('#user_password, #user_password_confirmation').val($.password(8, 1));
                    e.preventDefault();
                });
        });" %>
    <% end %>

    <a href="#" id="pwgen" class="right"><%=t :autogenerate %></a>
    <%= form.input :password, :as => :string, :hint => false %>
    <%= form.input :password_confirmation, :as => :string %>
<% else %>
    <%= form.input :password %>
    <%= form.input :password_confirmation %>
<% end %>
