<p>
  <strong><%= form.label :username %></strong>
  <br />
  <%= form.text_field :username, :disabled => !form.object.new_record? %>
</p>
<% if form.object.verification_method == User::VERIFY_BY_CREDIT_CARD %>
    <td><strong><%= form.label :verification_method %></strong></td>
    <table>
      <tr>
        <td><strong><%=t :credit_card%></strong></td>
      </tr>
    </table>
<% else %>
    <p>
      <strong><%= form.label :verification_method %></strong>
      <br />
      <%= form.select :verification_method,
                      User::VERIFICATION_METHODS_SELECT,
                      { :multiple => false }
      %>
    </p>

    <% div_tag :class => 'verification-block', :hide_if => form.object.verification_method != User::VERIFY_BY_DOCUMENT do %>
        <% if form.object.has_image? %>
            <strong><%= form.label :uploaded_document_photo %></strong>
            <br />
            <p style="text-align:center">
              <% if form.object.new_record? %>
                  <%= embedded_image_tag(form.object.operate { |img| img.resize 100 }) %>
              <% else %>
                  <%= link_to embedded_image_tag(form.object.operate { |img| img.resize 100 }), user_path(@user, :jpg), :target => '_blank' %>
              <% end %>
            </p>
        <% end %>
        <strong><%= form.label :document_photo %></strong>
        <br />
        <%= form.file_field :image_file %>
        <%= form.hidden_field :image_file_temp %>
    <% end %>

    <% div_tag :class => 'verification-block', :hide_if => form.object.verification_method != User::VERIFY_BY_MOBILE do %>
        <p><strong><%= form.label :mobile_phone %></strong></p>
        <table>
          <tr>
            <td><strong><%= form.label :mobile_prefix %></strong></td>
            <td>
              <strong><%= form.label :mobile_suffix %></strong>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.select :mobile_prefix,
                              mobile_prefixes.map { |m| [ m.prefix, m.prefix.to_s ]},
                              { :prompt => t(:select_prefix), :multiple => false }
              %>
            </td>
            <td>
              <%= form.text_field :mobile_suffix %>
            </td>
          </tr>
        </table>

        <p><strong><%= form.label :mobile_phone_confirmation %></strong></p>
        <table>
          <tr>
            <td><strong><%= form.label :mobile_prefix_confirmation %></strong></td>
            <td>
              <strong><%= form.label :mobile_suffix_confirmation %></strong>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.select :mobile_prefix_confirmation ,
                              mobile_prefixes.map { |m| [ m.prefix, m.prefix.to_s ]},
                              { :prompt => t(:select_prefix), :multiple => false }
              %>
            </td>
            <td>
              <%= form.text_field :mobile_suffix_confirmation %>
            </td>
          </tr>
        </table>
    <% end %>
<% end %>

<% if current_operator.has_role? 'users_manager' %>
    <table>
      <tbody>
      <tr>
        <td><strong><%= form.label :verified %></strong><%= form.check_box :verified, :checked_value => "1", :unchecked_value => "0" %></td>
        <td><strong><%= form.label :active %></strong><%= form.check_box :active, :checked_value => "1", :unchecked_value => "0" %></td>
      </tr>
      </tbody>
    </table>
<% end %>
<p>
  <strong><%= form.label :given_name %></strong>
  <br />
  <%= form.text_field :given_name, :size => 20 %>
</p>
<p>
  <strong><%= form.label :surname %></strong>
  <br />
  <%= form.text_field :surname, :size => 20 %>
</p>
<p>
  <strong><%= form.label :birth_date %></strong>
</p>
<div style="text-align:center" class="date">
  <%= form.date_select :birth_date, :start_year => Time.now.year - 90, :end_year => Time.now.year - 14, :prompt => true %>
</div>

<p>
  <strong><%= form.label :address %></strong>
  <br />
  <%= form.text_field :address, :size => 50 %>
</p>
<p>
  <strong><%= form.label :zip %></strong>
  <br />
  <%= form.text_field :zip, :size => 10 %>
</p>
<p>
  <strong><%= form.label :city %></strong>
  <br />
  <%= form.text_field :city %>
</p>
<p>
  <strong><%= form.label :state %></strong>
  <br />
  <%= form.select :state,
                  countries.map { |c| [ c.printable_name, c.printable_name ]},
                  { :multiple => false }
  %>
</p>
<p>
  <strong><%= form.label :email %></strong>
  <br />
  <%= form.text_field :email %>
</p>
<p>
  <strong><%= form.label :email_confirmation %></strong>
  <br />
  <%= form.text_field :email_confirmation %>
</p>
<p>
  <strong><%= form.label :password, form.object.new_record? ? nil : t(:change_password) %></strong>
  <br />
  <%= form.password_field :password %>
</p>
<p>
  <strong><%= form.label :password_confirmation %></strong>
  <br />
  <%= form.password_field :password_confirmation %>
</p>

<br />
<br />
<p>
  <%= link_to t(:Click_for_eula), document_path('eula.pdf'), :target => '_blank' %>
  <br />
  <%= label_tag 'eula', t(:eula_description) %><br />
  <%= form.check_box :eula_acceptance %>
  <br />
  <br />
  <%= link_to t(:Click_for_privacy), document_path('privacy.pdf'), :target => '_blank' %>
  <br />
  <%= label_tag 'privacy', t(:privacy_description) %><br />
  <%= form.check_box :privacy_acceptance %>
</p>

<% if current_operator.has_role? 'users_manager' %>
    <%= form.label :radius_groups %>
    <%= render 'radius_group_select', :user => user, :radius_groups => radius_groups %>
<% end %>
