<table>
  <thead>
    <tr>
      <th><%= t(:Username) %></th>
      <th><%= t(:Registration_date) %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tfoot>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td>
        <% if auth?(:users_browser)%>
          <%= link_to h(user.username), user %>
        <% else %>
          <%= h(user.username[0..-4] + "xxx") %>
        <% end %>
      </td>
      <td><%=l user.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>