<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<table>
  <thead>
    <tr>
      <th><%= t(:Username) %></th>
      <th><%= t(:Registration_date) %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tfoot>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td>
        <% if auth?(:users_browser)%>
          <%= link_to h(user.username), user %>
        <% else %>
          <%= user.username[0..-4] + "xxx" %>
        <% end %>
      </td>
      <td><%=l user.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>