<div class="grid_12">
  <div class="box">
    <h2><%=h t(:Browse_users) %></h2>
    <div class="block" id="search">
      <fieldset>
        <legend><%=t :Search_user %></legend>
        <p>
          <%= label_tag t(:Search_by_user_name_surname_mobile) %>
          <%= image_tag("spinner.gif",
                        :align => "absmiddle",
                        :border => 0,
                        :id =>"search_spinner",
                        :style =>"display:none;",
                        :size => "12x12")
          %>
          <%= text_field_tag :search_user %>
        </p>
      </fieldset>
      <div class="block" id="search_block">
        <%= @controller.ajax_search %>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>

<%= 
  observe_field :search_user,
    :with => :search,
    :frequency => 0.5,
    :update => 'search_block',
    :before => "jQuery( '#search_spinner' ).show();",
    :success => "jQuery( '#search_spinner' ).hide();",
    :url => { :action => :ajax_search }
%>
