<div class="grid_12">
  <div class="box">
    <h2><%=t :Browse_users %> <%= image_tag 'spinner_black.gif', :id => 'loading', :class => 'hidden' %></h2>
    <div class="block" id="search">
      <div id="quicksearch">
        <fieldset>
          <legend><%=t :Search_user %></legend>
          <%= form_tag users_path, :method => :get, :remote => true do %>
              <%= label_tag :search, t(:Search_by_user_name_surname_mobile) %>
              <%= text_field_tag :search %>
          <% end %>
        </fieldset>
      </div>

      <div class="block" id="search_block">
        <%= render 'list', :users => @users, :total_users => @total_users %>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>
