<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_12">
  <div class="box">
    <h2><%=t :Browse_users %> <%= image_tag 'spinner_black.gif', :id => 'loading', :class => 'hidden' %></h2>
    <div class="block" id="search">
      <div id="quicksearch">
        <fieldset>
          <legend><%=t :Search_user %></legend>
          <%= form_tag users_path, :method => :get, :remote => true do %>
              <%= label_tag :search, t(:Search_by_user_name_surname_mobile) %>
              <%= text_field_tag :search %>
              <p>
                <label>Verification method: <%= select_tag :verification_method, options_for_select(user_search_verification_methods()) %> </label> 
              </p>
              <p>
                Verified:
                <label><input type="radio" name="verified" value="" style="width:auto" /> All</label>
                <label><input type="radio" name="verified" value="true" style="width:auto" /> Yes</label>
                <label><input type="radio" name="verified" value="false" style="width:auto" /> No</label>
              </p>
              <p>
                Enabled:
                <label><input type="radio" name="enabled" value="" style="width:auto" /> All</label>
                <label><input type="radio" name="enabled" value="true" style="width:auto" /> Yes</label>
                <label><input type="radio" name="enabled" value="false" style="width:auto" /> No</label>
              </p>
              <input type="submit">
          <% end %>
        </fieldset>
      </div>

      <div class="block" id="search_block">
        <%= render 'list', :users => @users, :total_users => @total_users %>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>
