<% content_for :after_defaults do %>
    <%= javascript_include_tag 'highcharts',
                               'owm.graphs',
                               'owm.registerd_users_graph',
                               'owm.logins_graph',
                               'owm.traffic_graph'
    %>
<% end %>

<div class="grid_4">
  <div class="box">
    <h2><a href="#" id="toggle-registered_users_graph"><%=h t(:Registered_users) %></a></h2>
    <div class="block small_graph" id="registered_users_graph"></div>
  </div>
</div>

<div class="grid_4">
  <div class="box">
    <h2><a href="#" id="toggle-logins_graph"><%=h t(:Logins) %></a></h2>
    <div class="block small_graph" id="logins_graph"></div>
  </div>
</div>

<div class="grid_4">
  <div class="box">
    <h2><a href="#" id="toggle-traffic_graph"><%=h t(:Traffic) %></a></h2>
    <div class="block small_graph" id="traffic_graph"></div>
  </div>
</div>

<div class="clear"></div>

<div class="grid_3">
  <div class="box">
    <h2><a href="#" id="toggle-online-users"><%=h t(:Top_x_active_users, :count => 5) %></a></h2>
    <div class="block" id="online-users">
      <%= render :partial => 'common/top_traffic_users_brief', :locals => { :top_traffic_users => @top_traffic_users } %>
    </div>
  </div>
</div>

<div class="grid_5">
  <div class="box">
    <h2><a href="#" id="toggle-last-logins"><%=h t(:Last_x_logins, :count => 5) %></a></h2>
    <div class="block" id="last-logins">
      <%= render :partial => 'common/radius_accounting_list_brief', :locals => { :accountings => @last_logins } %>
    </div>
  </div>
</div>

<div class="grid_4">
  <div class="box">
    <h2><a href="#" id="toggle-last-registered"><%=h t(:Last_x_registered_users, :count => 5) %></a></h2>
    <div class="block" id="last-registered">
      <%= render :partial => 'list_brief', :locals => { :users => @last_registered } %>
    </div>
  </div>
</div>

<div class="clear"></div>
