<div class="grid_10 prefix_1 suffix_1">
  <div class="box">
    <% form_for @user, :builder => ErrorFormBuilder, :html => { :multipart => true } do |f| %>
        <fieldset>
          <legend><%=t :Create_user %></legend>
          <p><%= f.error_messages %></p>

          <%= render :partial => "form", :object => f, :locals => { :user => @user, :radius_groups => @radius_groups, :countries => @countries, :mobile_prefixes => @mobile_prefixes } %>

          <table>
            <tbody>
            <tr>
              <td><%= f.submit t(:Register) %></td>
              <td><%= link_to t(:Undo), :back %></td>
            </tr>
            </tbody>
          </table>
    <% end %>
    </fieldset>
  </div>
</div>
<div class="clear"></div>
