<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_12">
  <div class="box">
    <h2><%= t(:Search_users) %></h2>
    <div class="block" id="search">
      <%= form_for :user, :url => {:action => 'find'} do |f| %>
        <fieldset>
          <legend><%=t :Search_user %></legend>
          <p>
            <%= label_tag t(:Search_by_user_mobile_email) %>
            <br />
            <%= f.text_field :query %>
          </p>
          <p>
            <%= f.submit t(:Search), :class => 'submit button nomargin' %>
          </p>
          <% if flash[:error]%>
            <p style="color: red"><%= flash[:error] %>&nbsp;</p>
          <% end %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>
