<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :after_defaults do %>
    <%= javascript_include_tag 'highcharts',
                               'owums.graphs',
                               'owums.user_logins_graph',
                               'owums.user_traffic_graph'
    %>
<% end %>

<div class="grid_12">
  <div class="box">
    <h2><%= t :User_information %></h2>
    <ul class="nav main nomargin">
      <li><%= link_to t(:Refresh_data), "" %></li>
      <% if current_operator.has_role? 'users_manager' %>
          <li><%= link_to t(:Edit), edit_user_path(@user) %></li>
      <% end %>
      <li><%= link_to t(:Back), :back %></li>
    </ul>

    <div class="block" id="personal_info">
      <table>
        <thead>
        <tr>
          <th><%= t :Given_name %></th>
          <th><%= t :Surname %></th>
          <th><%= t :State %></th>
          <th><%= t :City %></th>
          <th><%= t :Address %></th>
          <th><%= t :Email %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @user.given_name %></td>
          <td><%= @user.surname %></td>
          <td><%= @user.state %></td>
          <td><%= @user.city %></td>
          <td><%= @user.address %></td>
          <td><%= @user.email %></td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th><%= t :Username %></th>
          <th>
            <% if @user.verify_with_mobile_phone? %>
                <%= t :Mobile_phone_number %>
            <% elsif @user.verify_with_document? %>
                <%= t :Document_photo %>
            <% end %>
            &nbsp;
          </th>
          <th><%= t :Registration_date %></th>
          <th><%= t :Verification_date %></th>
          <th><%= t :User_management_logins %></th>
          <th><%= t :Radius_logins %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @user.username %></td>
          <td>
            <% if @user.verify_with_mobile_phone? %>
                <%= @user.mobile_phone %>
            <% elsif @user.verify_with_document? %>
                <%= document_of @user, :link => true %>
            <% end %>
            &nbsp;
          </td>
          <td><%= l(@user.created_at, :format => :short) %></td>
          <td>
            <% if @user.verified %>
                <%= l(@user.verified_at, :format => :short) rescue @user.created_at %>
            <% else %>
                <span style="color: red; "><%= t :Not_verified %></span>
            <% end %>
          </td>
          <td><%= @user.login_count %></td>
          <td><%= @user.radius_accountings.count %></td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th colspan="6"><%= t :Notes %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="6"><%= @user.notes %>&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="grid_12">
  <% if current_operator.has_role? 'users_manager' %>
      <div id="radius_groups" class="box">
        <h2><%= t :Radius_groups %></h2>
        <table>
          <thead>
          <tr>
            <th scope="col"><%= t :Priority %></th>
            <th scope="col"><%= t :Name %></th>
            <th scope="col"><%= t :Notes %></th>
          </tr>
          </thead>
          <tbody>
          <% @user.radius_groups.all(:order => :priority).each do |group| %>
              <tr>
                <td><%= group.priority %></td>
                <td><%= link_to group.name, radius_group_url(group) %></td>
                <td><%= group.notes %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  <% end %>

  <% if auth? :radius_checks_viewer %>
      <div id="user_radius_checks" class="box">
        <h2><%= t :Radius_checks %></h2>
        <table>
          <thead>
          <tr>
            <th scope="col"><%= t :Check_attribute %></th>
            <th scope="col"><%= t :Operator %></th>
            <th scope="col"><%= t :Value %></th>
            <th scope="col"><%= t :Operations %></th>
          </tr>
          </thead>
          <tbody>
          <% @user.radius_checks.each do |check| %>
              <tr>
                <td><%= check.check_attribute %></td>
                <td><%= check.op %></td>
                <td><%= check.value %></td>
                <td>
                  <% if current_operator.has_role? 'radius_checks_manager' %>
                      <%= link_to t(:Edit), edit_user_radius_check_url(@user, check) %>
                  <% end %>
                  &nbsp;
                  <% if current_operator.has_role? 'radius_checks_destroyer' %>
                      <%= link_to t(:Destroy), user_radius_check_url(@user, check),
                                  :method => :delete, :confirm => t(:Are_you_sure) %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
          <tfoot>
          <% if auth? :radius_checks_creator %>
              <tr>
                <td colspan="4">
                  <p><%= link_to t(:Add_radius_check), new_user_radius_check_url(@user), :class => 'button nomargin' %></p>
                </td>
              </tr>
          <% end %>
          </tfoot>
        </table>
      </div>
  <% end %>

  <% if auth? :radius_replies_viewer %>
      <div id="user_radius_replies" class="box">
        <h2><%= t :Radius_replies %></h2>
        <table>
          <thead>
          <tr>
            <th scope="col"><%= t :Reply_attribute %></th>
            <th scope="col"><%= t :Operator %></th>
            <th scope="col"><%= t :Value %></th>
            <th scope="col"><%= t :Operations %></th>
          </tr>
          </thead>
          <tbody>
          <% @user.radius_replies.each do |reply| %>
              <tr>
                <td><%= reply.reply_attribute %></td>
                <td><%= reply.op %></td>
                <td><%= reply.value %></td>
                <td>
                  <% if current_operator.has_role? 'radius_replies_manager' %>
                      <%= link_to t(:Edit), edit_user_radius_reply_url(@user, reply) %>
                  <% end %>
                  &nbsp;
                  <% if current_operator.has_role? 'radius_replies_destroyer' %>
                      <%= link_to t(:Destroy), user_radius_reply_url(@user, reply),
                                  :method => :delete, :confirm => t(:Are_you_sure) %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
          <tfoot>
          <% if auth? :radius_replies_creator %>
              <tr>
                <td colspan="4">
                  <p><%= link_to t(:Add_radius_reply), new_user_radius_reply_url(@user), :class => 'button nomargin' %></p>
                </td>
              </tr>
          <% end %>
          </tfoot>
        </table>
      </div>
  <% end %>
</div>
<div class="clear"></div>

<div class="grid_12">
  <div class="box">
    <h2><%= t(:Logins) %></h2>

    <div class="block user_graph" id="user_logins_graph"></div>
  </div>
  <div class="box">
    <h2><%= t(:Traffic) %></h2>

    <div class="block user_graph" id="user_traffic_graph"></div>
  </div>
</div>
<div class="clear"></div>

<div class="grid_12">
  <div class="box">
    <h2><%= t :User_sessions %> <%= image_tag 'spinner_black.gif', :id => 'loading', :class => 'hidden' %></h2>

    <div class="block" id="rad_list_block">
      <%= render 'common/radius_accounting_list', :accountings => @radius_accountings, :total_accountings => @total_accountings %>
    </div>
  </div>
</div>
<div class="clear"></div>
