<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :after_css_defaults do %>
    <%= stylesheet_link_tag 'custom-print', :media => 'print' %>
<% end %>

<% content_for :after_defaults do %>
    <%= javascript_tag "$(function(){
            $('#printer').click(function(e){
                window.print();
                e.preventDefault();
            });
    });" %>
<% end %>

<div class="grid_12 center">
  <p style="font-size:200%" class="green"><%=t :User_created_success %></p>

  <div class="grid_8 prefix_2 suffix_2">
    <p style="font-size:150%">
      <%=t :please_no_reload_no_back_1 %><br />
      <span class="red"><%=t :please_no_reload_no_back_2 %></span>
    </p>

    <br />

    <div id="print" class="box">
      <h2><%= t(:User_credentials) %></h2>

      <div class="block" style="font-size:150%">
        <p><%=t :Username %>: <strong><%= @user.username %></strong></p>
        <p><%=t :Password %>: <strong><%= @user.crypted_password %></strong></p>
      </div>
    </div>

    <br />

    <p style="font-size:120%">
      <%= link_to t(:Print_credentials), '#', :id => 'printer' %> | <%= link_to t(:Create_new_user), new_user_path %>
    </p>
  </div>
</div>
