<% form_for @operator do |f| %>
    <fieldset>
      <legend><strong><%=t :Operator %>:</strong> <%= @operator.login %></legend>
      <p><%= f.error_messages %></p>

      <p>
        <strong><%= label_tag t(:login) %>:</strong>
        <br />
        <% if @operator.new_record? %>
            <%= f.text_field :login %>
        <% else %>
            <%= f.text_field :login, :disabled => true %>
        <% end %>
      </p>
      <p>
        <strong><%= label_tag t(:password) %>:</strong>
        <br />
        <%= f.password_field :password %>
      </p>
      <p>
        <strong><%= label_tag t(:password_confirmation) %>:</strong>
        <br />
        <%= f.password_field :password_confirmation %>
      </p>

      <p><strong><%= label_tag t(:Roles) %>:</strong></p>
      <table id="operator_roles">
        <thead>
        <tr>
          <th><%=t :Select %></th>
          <th><%=t :Name %></th>
        </tr>
        </thead>
        <tbody>
        <% Operator::ROLES.each do |role| %>
            <tr>
              <td><%= check_box_tag("operator[roles][]", role, @operator.roles.include?(role)) %></td>
              <td><%= role %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <p>
        <strong><%= label_tag t(:notes) %>:</strong>
        <br />
        <%= f.text_area :notes %>
      </p>

      <p>
        <% if @operator.new_record? %>
            <%= f.submit t(:Create), :class => 'submit' %>
        <% else %>
            <%= f.submit t(:Edit), :class => 'submit' %>
        <% end %>
      </p>
    </fieldset>
<% end %>

