<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_12">
  <div class="box">
    <h2><%=t :Operators %></h2>
    
    <table>
      <thead>
        <tr>
          <th><%=t :Login %></th>
          <th><%=t :Logged_in %></th>
          <!--<th><%=t :Current_login_at %></th>-->
          <th><%=t :Current_login_ip %></th>
          <th><%=t :Last_login_at %></th>
          <th><%=t :Last_login_ip %></th>
          <th><%=t :Login_count %></th>
          <th colspan="2"><%=t :Operations %></th>
        </tr>
      </thead>
      <tbody>
        <% @operators.each do |operator| %>
          <tr class="hover <%= cycle 'odd', 'even' %>">
            <td><%= link_to operator.login, operator %></td>
            <td><%= image_tag(operator.logged_in? ? 'accept.png' : 'delete.png' ) %></td>
            <!--<td><%=l operator.current_login_at rescue t(:blank) %></td>-->
            <td><%= operator.current_login_ip || t(:blank) %></td>
            <td><%=l operator.last_login_at rescue t(:blank) %></td>
            <td><%= operator.last_login_ip || t(:blank) %></td>
            <td><%= operator.login_count %></td>
            <td><%= link_to t(:Edit), edit_operator_path(operator) %></td>
            <td><%= link_to t(:Destroy), operator_path(operator), :method => :delete, :confirm => t(:Are_you_sure) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= link_to t(:Add_new_operator), new_operator_url, :class => 'button' %>
    
  </div>
</div>
