<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_6 prefix_3 suffix_3">
  <div class="box">
    <div class="block" id="login">
      <%= simple_form_for @account_session, :url => account_session_path do |f| %>
          <fieldset>
            <legend><%=t :Login %></legend>
            <p><%= f.error_messages %></p>

            <% if Configuration.get('use_mobile_phone_as_username') == "true" %>
                <%= f.input :username, :label => t(:Username_or_mobile_or_email) %>
            <% else %>
                <%= f.input :username %>
            <% end %>

            <%= f.input :password %>

            <div id="remember_me">
              <%= f.input :remember_me, :as => :boolean %>
            </div>

            <%= f.button :submit, :class => 'submit button nomargin' %>
            <br>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
<div class="clear"></div>