<% content_for :header do %>
    <h1><%=t :Login %></h1>
<% end %>

<% form_for @account_session, :builder => ErrorFormBuilder, :url => account_session_path do |f| %>
    <fieldset>
      <% if @account_session.errors.any? %>
          <div data-role="fieldcontain">
            <div data-role="collapsible">
              <h3><%=t 'activerecord.errors.template.header', :count => @account_session.errors.count %></h3>
              <p><%= f.error_messages %></p>
            </div>
          </div>
      <% end %>

      <div data-role="fieldcontain">
        <% if Configuration.get('use_mobile_phone_as_username') == "true" %>
            <%= f.label :username, t(:Username_or_mobile) %>
        <% else %>
            <%= f.label :username, t(:Username) %>
        <% end %>
        <%= f.text_field :username %>
      </div>

      <div data-role="fieldcontain">
        <%= f.label t(:password) %>
        <%= f.password_field :password %>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :remember_me, t(:remember_me) %>
        <%= f.check_box :remember_me, :type => 'checkbox' %>
      </div>

      <div data-role="fieldcontain">
        <%= f.submit t(:Login) %>
      </div>
    </fieldset>
<% end %>
