<div class="grid_6 prefix_3 suffix_3">
  <div class="box">
    <div class="block" id="operator-login">
      <% form_for @operator_session, :builder => ErrorFormBuilder, :url => operator_session_path do |f| %>
        <fieldset>
          <legend><%=t :Operator_login %></legend>
					<p><%= f.error_messages %></p>
          <p>
            <%= f.label :login %>
            <br />
            <%= f.text_field :login %>
          </p>
          <p>  
            <%= f.label :password %>
            <br />
            <%= f.password_field :password %>
          </p>
          <p>  
            <div><%= f.check_box :remember_me %><%= f.label t(:remember_me) %></div>
          </p>
          <p>  
            <%= f.submit t(:Login), :class => 'submit' %>
          </p>
      <% end %>
  </div>
</div>

</div>
<div class="clear"></div>
