<div class="grid_6 prefix_3 suffix_3">
  <div class="box">
    <div class="block" id="login">
      <% form_for @operator_session, :builder => ErrorFormBuilder, :url => operator_session_path do |f| %>
          <fieldset>
            <legend><%=t :Login %></legend>
            <p><%= f.error_messages %></p>

            <p>
              <%= f.label t(:login) %>
              <br />
              <%= f.text_field :login %>
            </p>
            <p>
              <%= f.label t(:password) %>
              <br />
              <%= f.password_field :password %>
            </p>
            <div id="remember_me"><%= f.check_box :remember_me %><%= f.label t(:remember_me) %></div>
            <p>
              <%= f.submit t(:Login), :class => 'submit' %>
            </p>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
<div class="clear"></div>
