<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div id="search_results">
  <table>
    <thead>
    <tr>
      <th scope="col"><%= t :Priority %></th>
      <th scope="col"><%= t :Name %></th>
      <%
         if current_operator.has_role?('radius_groups_manager') ||
                 current_operator.has_role?('radius_groups_destroyer')
      %>
          <th scope="col"><%= t :Notes %></th>
          <th scope="col"><%= t :Operations %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% radius_groups.each do |radius_group| %>
        <tr>
          <td><%= radius_group.priority %></td>
          <td><%= link_to h(radius_group.name), radius_group_url(radius_group) %></td>
          <td><%= truncate(radius_group.notes, :length => 20) %></td>
          <td>
            <% if current_operator.has_role? 'radius_groups_manager' %>
                <%= link_to t(:Edit), edit_radius_group_url(radius_group) %>
            <% end %>
            &nbsp;
            <% if current_operator.has_role? 'radius_groups_destroyer' %>
                <%= link_to t(:Destroy), radius_group_url(radius_group),
                            :confirm => t(:Are_you_sure), :method => :delete %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4"><%= link_to t(:New_radius_group), new_radius_group_url, :class => 'button' %></td>
    </tr>
    </tfoot>
  </table>
</div>
