<div style="text-align:center;font-size:120%">
  <% if @account.recovered? %>
      <script type="text/javascript">document.location="<%= edit_mobile_phone_password_reset_path(@account.perishable_token) %>"</script>
  <% else %>
      <%=t :Please_verify_mobile_number %><br /><br />
      <%=t :From_mobile_phone_number %><br />
      <p class="ui-link"><%=h @account.mobile_phone %></p><br /><br />
      <% numbers =  Configuration.get('verification_numbers').split(',').map { |n| n.strip } %>
      <%= t(:Call_one_of_the_following_numbers, :count => numbers.length) %><br />
      <% numbers.each do |number| %>
          <p style="background-color:#90ee90"><a href="tel:<%=h number %>" class="ui-link"><%=h number %></a></p>
      <% end %>
      <%=t :Free_call_description %><br />
  <% end %>
  <p style="font-size:90%" class="no_js">
    <%=t :If_problem_with_redirect %>, <%= link_to t(:click_here), recovery_confirmation_path(@account.single_access_token), :class => 'ui-link', 'data-ajax' => 'false' %>
  </p>
</div>