<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_12">
  <h2><%= t :Radius_check %> <%= @radius_check.check_attribute %> for a <%=t @subject.class %></h2>
</div>
<p>&nbsp;</p>

<div class="grid_6 prefix_3 suffix_3">
  <div id="radius_group_info" class="box">
    <h2><%= t :Radius_check %></h2>
    <br/>
    <table>
      <tbody>
      <tr>
        <td><strong><%= t :Radius_check %></strong></td>
        <td><%= @radius_check.check_attribute %></td>
      </tr>
      <tr>
        <td><strong><%= t :Operator %></strong></td>
        <td><%= @radius_check.op %></td>
      </tr>
      <tr>
        <td><strong><%= t :Value %></strong></td>
        <td><%= @radius_check.value %></td>
      </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>
