<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<%= form_for [@subject, @radius_reply] do |f| %>
    <fieldset>
      <legend><strong><%=t :Radius_reply %>:</strong> <%= @radius_reply.reply_attribute %></legend>
      <p><%= f.error_messages %></p>

      <p>
        <strong><%= label_tag t(:Reply_attribute) %>:</strong>
        <br />
        <%= f.text_field :reply_attribute %>
      </p>

      <p>
        <strong><%= label_tag t(:Operator) %>:</strong>
        <br />
        <%= f.text_field :op %>
      </p>

      <p>
        <strong><%= label_tag t(:Value) %>:</strong>
        <br />
        <%= f.text_field :value %>
      </p>

      <p>
        <% if @radius_reply.new_record? %>
            <%= f.submit t(:Create), :class => 'submit button nomargin' %>
        <% else %>
            <%= f.submit t(:Edit), :class => 'submit button nomargin' %>
        <% end %>
      </p>
    </fieldset>
<% end %>

