<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="shortcut icon" href="<%= image_path 'caspur.ico' %>" />

  <title><%=t :Users_management %></title>

  <%= stylesheet_link_tag 'fluid960/reset' %>
  <%= stylesheet_link_tag 'fluid960/text' %>
  <%= stylesheet_link_tag 'fluid960/960' %>
  <%= stylesheet_link_tag 'fluid960/layout' %>
  <%= stylesheet_link_tag 'fluid960/nav' %>

  <%= stylesheet_link_tag 'custom' %>

  <%= yield :after_css_defaults %>

  <% for_ie :version => '6' do %>
      <%= stylesheet_link_tag 'fluid960/ie6' %>
  <% end %>

  <% for_ie :version => '7' do %>
      <%= stylesheet_link_tag 'fluid960/ie' %>
  <% end %>

  <% for_ie do %>
      <%= stylesheet_link_tag 'custom-ie' %>
  <% end %>

  <%= javascript_include_tag :defaults %>

  <%= yield :after_defaults %>

  <%= javascript_include_tag 'fluid16' %>
</head>
<body>


<div class="container_12">
  <div class="grid_12">
    <table class="branding">
      <tr>
        <td style="text-align:left">
          <h1 id="branding">
            <%= link_to image_tag("logo_caspur.png", :border => 0, :size => "64x50", :alt => 'Open WISP User Management System', :class => "wums_logo"), :root %> Open WISP User Management System
          </h1>
        </td>
        <td style="text-align:right">
          <%= link_to_locale 'it' %> <%= link_to_locale 'en' %>
        </td>
      </tr>
    </table>
  </div>
  <div class="clear">&nbsp;</div>
  <div class="grid_12">
    <ul class="nav main">
      <% if current_operator %>
          <% if current_operator.has_role? 'stats_viewer' %>
              <li>
                <%= menu_link_to t(:Show_stats), stats_path %>
                <ul>
                  <li><%= menu_link_to t(:Registered_users), stat_path('registered_users') %></li>
                  <li><%= menu_link_to t(:Logins), stat_path('logins') %></li>
                  <li><%= menu_link_to t(:Traffic), stat_path('traffic') %></li>
                </ul>
              </li>
          <% end %>
          <% if current_operator.has_role? 'users_browser' %>
              <li><%= menu_link_to t(:Browse_users), users_browse_path %></li>
          <% end %>
          <% if current_operator.has_role? 'users_finder' %>
              <li><%= menu_link_to t(:Search_users), users_search_path %></li>
          <% end %>
          <% if current_operator.has_role? 'users_manager' or current_operator.has_role? 'users_registrant' %>
              <li><%= menu_link_to t(:Add_new_user), new_user_path %></li>
          <% end %>
          <% if current_operator.has_role? 'configurations_manager' %>
              <li><%= menu_link_to t(:Configuration_keys), configurations_path %></li>
          <% end %>
          <% if current_operator.has_role? 'operators_manager' %>
              <li><%= menu_link_to t(:Operators), operators_path %></li>
          <% end %>

          <li class="secondary"><%= link_to t(:Logout), operator_logout_url %></li>
          <li class="secondary"><%= menu_link_to t(:Home), operator_path(current_operator) %></li>
      <% else %>
          <li><%= menu_link_to t(:How_to_use_service), account_instructions_url, :disable_if => on_root? %></li>
          <% if !current_account %>
              <li><%= menu_link_to t(:Manage_your_account), account_login_url %></li>
              <li><%= menu_link_to t(:Register), account_registration_url %></li>
              <li><%= menu_link_to t(:Forgot_password), password_reset_url %></li>
          <% else %>
              <li><%= menu_link_to t(:Show_account_info), account_path %></li>
              <li><%= menu_link_to t(:Edit_account), edit_account_path %></li>
              <li class="secondary"><%= link_to t(:Logout), account_logout_url %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="grid_12">
    <div id="notice" class="box">
      <% if flash[:notice]%>
          <p><%= flash[:notice] %>&nbsp;</p>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>

  <%= yield  %>

  <div class="grid_12" id="site_info">
    <div class="box" style="text-align:center">
      <p>Open WISP User Management System - <%=t :Created_by %> <a href="https://spider.caspur.it/">CASPUR</a></p>

      <% if has_mobile? && is_mobile_device? %>
          <p><%= link_to_toggle_mobile %></p>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>

</body>
</html>
