<!doctype html>
<html>
<head>
  <% if is_apple_device? %>
      <!-- Apple Webapp -->
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <link rel="apple-touch-icon" href="<%= image_path 'logo_caspur.png' %>" />
  <% end %>

  <title>OpenWISP</title>

  <%= stylesheet_link_tag 'jquery.mobile/styles', 'custom-mobile' %>

  <%= javascript_include_tag :defaults, 'application-mobile', 'jquery.mobile', 'highcharts', 'owums.graphs' %>

  <%= javascript_include_tag 'fluid16' %>
</head>
<body>

<div data-role="page" data-url="<%= on_root? ? '' : yield(:data_url) %>">

  <div data-role="header" data-position="inline" data-backbtn="false">
    <% if on_root? %>
        <h1><%= image_tag "logo_caspur.png", :size => "64x50", :alt => 'Open WISP User Management System' %><br/>OpenWISP</h1>
    <% else %>
        <%= yield :header %> <%= yield :back %>
    <% end %>

    <% if current_account %>
        <% mobile_link_to_logout %>
    <% end %>
  </div>

  <% if flash[:notice] %>
      <ul id="notice" data-role="listview" data-theme="g">
        <li><%= flash[:notice] %></li>
      </ul>
  <% end %>

  <div data-role="content">
    <% if on_root? %>
        <ul data-role="listview" data-inset="true">
          <% if !current_account %>
              <li><%= link_to t(:How_to_use_service), account_instructions_path %></li>
              <li><%= link_to t(:Manage_your_account), account_login_path %></li>
              <li><%= link_to t(:Register), account_registration_path %></li>
              <li><%= link_to t(:Forgot_password), password_reset_path %></li>
          <% end %>
        </ul>

        <fieldset class="ui-grid-a">
          <div class="ui-block-a">
            <%= link_to_locale 'it', :class => 'clear_cache', 'data-role' => 'button', 'data-transition' => 'flip' %>
          </div>
          <div class="ui-block-b">
            <%= link_to_locale 'en', :class => 'clear_cache', 'data-role' => 'button', 'data-transition' => 'flip' %>
          </div>
          <p>&nbsp;</p>
        </fieldset>
    <% end %>

    <%= yield unless on_root? %>
  </div>

  <p>&nbsp;</p>

  <div id="footer" data-role="footer">
    <p><%=t :Created_by %> <a href="https://spider.caspur.it/" target="_blank">CASPUR</a></p>
    <p><%= link_to_toggle_mobile 'data-ajax' => false %></p>
  </div>
</div>
</body>
</html>
