<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= t :Users_management %></title>

  <%= stylesheet_link_tag 'fluid960/reset' %>
  <%= stylesheet_link_tag 'fluid960/text' %>
  <%= stylesheet_link_tag 'fluid960/960' %>
  <%= stylesheet_link_tag 'fluid960/layout' %>
  <%= stylesheet_link_tag 'fluid960/nav' %>

  <%= stylesheet_link_tag 'custom' %>

  <%= content_for :after_css_defaults %>

  <%= for_ie :version => '6' do %>
      <%= stylesheet_link_tag 'fluid960/ie6' %>
  <% end %>

  <%= for_ie :version => '7' do %>
      <%= stylesheet_link_tag 'fluid960/ie' %>
  <% end %>

  <%= for_ie do %>
      <%= stylesheet_link_tag 'custom-ie' %>
  <% end %>

  <%= javascript_include_tag :defaults %>

  <%= content_for :after_defaults %>

  <%= javascript_include_tag 'fluid16' %>

  <link rel="shortcut icon" href="<%= image_path 'favicon.png' %>"/>
  <%= csrf_meta_tag %>
</head>
<body>


<div class="container_12" id="container">
  <div class="grid_12" id="branding">
    <h1>
      <a href="<%= root_url %>">
        <% @logo = Configuration.get('logo')
          unless @logo.nil? or @logo == '' %>
          <%= image_tag(@logo) %>
        <% else %>
          OpenWISP User Management System
        <% end %>
      </a>
    </h1>
    <p id="locale">
      <% if CONFIG['english'] %>
        <%= link_to_locale 'en' %>
      <% end %>
      <% if CONFIG['italian'] %>
        <%= link_to_locale 'it' %>
      <% end %>
      <% if CONFIG['spanish'] %>
        <%= link_to_locale 'es' %>
      <% end %>
    </p>
    <% if authenticated? %>
    <p id="whoami">
      <%= t :logged_in_as %> <%= link_to_user_or_operator %>
    </p>
    <% end %>
  </div>
  
  <div class="grid_12">
    <ul class="nav main">
      <% if current_operator %>
          <li><%= menu_link_to t(:Home), operator_url(current_operator) %></li>
          <% if current_operator.has_role? 'stats_viewer' %>
              <li>
                <%= menu_link_to t(:Show_stats), stats_url %>
                <ul>
                  <li><%= menu_link_to t(:Registered_users_daily), stat_url('registered_users_daily') %></li>
                  <li><%= menu_link_to t(:Registered_users), stat_url('registered_users') %></li>
                  <li><%= menu_link_to t(:Logins), stat_url('logins') %></li>
                  <li><%= menu_link_to t(:Traffic), stat_url('traffic') %></li>
                </ul>
              </li>
          <% end %>
          <% if current_operator.has_role? 'users_browser' or
                  current_operator.has_role? 'users_finder' or
                  current_operator.has_role? 'users_manager' or current_operator.has_role? 'users_registrant'
          %>
              <li>
                <%= menu_link_to(t(:Users), current_operator.has_role?('users_browser') ? users_browse_url : '#') %>
                <ul>
                  <% if current_operator.has_role? 'users_browser' %>
                      <li><%= menu_link_to t(:Browse_users), users_browse_url %></li>
                  <% end %>
                  <% if current_operator.has_role? 'users_finder' %>
                      <li><%= menu_link_to t(:Search_users), users_search_url %></li>
                  <% end %>
                  <% if current_operator.has_role? 'users_manager' or current_operator.has_role? 'users_registrant' %>
                      <li><%= menu_link_to t(:Add_new_user), new_user_url %></li>
                  <% end %>
                </ul>
              </li>
          <% end %>
          <% if current_operator.has_role? 'radius_groups_viewer' or
                  current_operator.has_role? 'radius_groups_creator' %>
              <li>
                <%= menu_link_to t(:Radius_groups), radius_groups_url %>
                <ul>
                  <% if current_operator.has_role? 'radius_groups_viewer' %>
                      <li><%= menu_link_to t(:Browse_radius_groups), radius_groups_url %></li>
                  <% end %>
                  <% if current_operator.has_role? 'radius_groups_creator' %>
                      <li><%= menu_link_to t(:Add_new_radius_group), new_radius_group_url %></li>
                  <% end %>
                </ul>
              </li>
          <% end %>
          <% if current_operator.has_role? 'operators_manager' %>
              <li>
                <%= menu_link_to t(:Operators), operators_url %>
                <ul>
                  <li><%= menu_link_to t(:Browse_operators), operators_url %></li>
                  <li><%= menu_link_to t(:Add_new_operator), new_operator_url %></li>
                </ul>
              </li>
          <% end %>
          <li>
            <%= menu_link_to(t(:System_settings), current_operator.has_role?('configurations_manager') ? configurations_url : '#') %>
            <ul>
              <% if current_operator.has_role? 'configurations_manager' %>
                  <li><%= menu_link_to t(:Configuration_keys), configurations_url %></li>
              <% end %>
            </ul>
          </li>
          <li class="secondary"><%= menu_link_to t(:Logout), operator_logout_url, :method => :delete %></li>
      <% else %>
          <li><%= menu_link_to t(:How_to_use_service), account_instructions_url, :disable_if => on_root? %></li>
          <% if current_account %>
              <li><%= menu_link_to t(:Show_account_info), account_url %></li>
              <li><%= menu_link_to t(:Edit_account), edit_account_url %></li>
              <li class="secondary"><%= link_to t(:Logout), account_logout_url, :method => :delete %></li>
          <% else %>
              <li><%= menu_link_to t(:Login), account_login_url %></li>
              <li><%= menu_link_to t(:Register).html_safe, account_registration_url %></li>
              <li><%= menu_link_to t(:Forgot_password), password_reset_url %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="grid_12">
    <% if flash[:notice] %>
    <div id="notice" class="box">
      <p><%= flash[:notice] %> <a class="close">&times;&nbsp;chiudi</a></p>
    </div>
    <% end %>
  </div>
  <div class="clear"></div>

  <%= yield %>

  <div class="grid_12" id="site_info">
    <div class="box" style="text-align:center">
      <p>OpenWISP User Management System - Copyright (C) 2013 <a href="http://openwisp.org/">OpenWISP.org</a></p>

      <% if is_mobile_device? %>
          <p id="go-to-mobile"><%= link_to_toggle_mobile %></p>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>

</body>
</html>
