<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<!DOCTYPE html>
<html>
<head>
  <title>OpenWISP</title>

  <%= stylesheet_link_tag 'jquery.mobile/styles', 'custom-mobile' %>

  <%= javascript_include_tag :defaults, 'application-mobile', 'jquery.mobile', 'highcharts', 'owums.graphs' %>

  <%= content_for :after_defaults %>

  <%= javascript_include_tag 'fluid16' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="<%= image_path 'favicon.png' %>" />
  <%= csrf_meta_tag %>
</head>
<body>

<div data-role="page" data-url="<%= on_root? ? '' : content_for(:data_url) %>">

  <div data-role="header" data-position="inline" data-backbtn="false">
    <% if on_root? %>
        <h1>OpenWISP.org</h1><br />
    <% else %>
        <%= content_for :header %> <%= content_for :back %>
    <% end %>

    <% if current_account %>
        <%= mobile_link_to_logout %>
    <% end %>
  </div>

  <% if flash[:notice] %>
      <ul id="notice" data-role="listview" data-theme="g">
        <li><%= flash[:notice] %></li>
      </ul>
  <% end %>

  <div data-role="content">
    <% if on_root? %>
        <ul data-role="listview" data-inset="true">
              <li><%= link_to t(:How_to_use_service), account_instructions_path %></li>
              <li><%= link_to t(:Manage_your_account), account_login_path %></li>
              <% if !current_account %>
								<li><%= link_to t(:Register).html_safe, account_registration_path %></li>
								<li><%= link_to t(:Forgot_password), password_reset_path %></li>
							<% end %>
        </ul>

				<p>&nbsp;</p>
        <fieldset class="ui-grid-a">
          <div class="ui-block-a">
            <%= link_to_locale 'it', 'data-role' => 'button', 'data-transition' => 'flip' %>
            </div>
          <div class="ui-block-b">
            <%= link_to_locale 'es', 'data-role' => 'button', 'data-transition' => 'flip' %>
          </div>
          <div class="ui-block-b">
            <%= link_to_locale 'en', 'data-role' => 'button', 'data-transition' => 'flip' %>
            </div>
          <div class="ui-block-a">
            <%= link_to_locale 'es', 'data-role' => 'button', 'data-transition' => 'flip' %>
          </div>
          <p>&nbsp;</p>
        </fieldset>
    <% end %>

    <%= yield unless on_root? %>
  </div>

  <p>&nbsp;</p>

  <div id="footer" data-role="footer">
    <p>Copyright (C) 2012 <a href="http://openwisp.org/" target="_blank">OpenWISP.org</a></p>
    <p><%= link_to_toggle_mobile 'data-ajax' => false %></p>
  </div>
</div>
</body>
</html>
