<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<ul data-role="listview" data-inset="true">
  <% if Configuration.get('use_mobile_phone_as_username') == "false" || !account.new_record? %>
      <li data-role="fieldcontain">
        <%= f.input :username, :disabled => !account.new_record? %>
      </li>
  <% end %>


  <% if account.new_record? %>
      <% if account_verification_methods.length == 1 %>
          <%= f.input :verification_method, :as => :hidden %>
      <% else %>
          <li data-role="fieldcontain">
            <%= f.input :verification_method, :collection => account_verification_select, :prompt => false %>
          </li>
      <% end %>
  <% end %>


  <%= render 'common/form_elements/mobile_phone', :form => f, :owner => account, :prefixes => mobile_prefixes %>

  <%= render 'common/form_elements/identity_document', :form => f, :owner => account %>

  <%= render 'common/form_elements/credit_card', :form => f, :owner => account %>

  <%= render 'common/form_elements/personal_data', :form => f, :owner => account, :countries => countries %>


  <% if account.new_record? %>
      <li data-role="content">
        <div class="ui-grid-c">
          <div class="ui-block-a"></div>
          <div class="ui-block-b"><%= captcha_tag %></div>
          <div class="ui-block-c"></div>
          <div class="ui-block-d"></div>
        </div>
      </li>

      <li id="listen_captcha" data-role="fieldcontain">
        <%= link_to t(:listen).capitalize, spoken_captcha_url, 'data-ajax' => false %>
      </li>

      <li data-role="fieldcontain">
        <%= f.input :captcha %>
      </li>

      <li data-role="fieldcontain">
        <fieldset data-role="controlgroup">
          <legend>
            <%=t :Tick_to_agree_to %> <%= link_to t(:eula), document_path('eula.pdf'), :target => '_blank' %>
          </legend>

          <%= f.error :eula_acceptance %>
          <%= f.input_field :eula_acceptance %>
          <%= f.label :eula_acceptance, t(:I_agree) %>
        </fieldset>
      </li>

      <li data-role="fieldcontain">
        <fieldset data-role="controlgroup">
          <legend>
            <%=t :Tick_to_examine_of %><%= link_to t(:privacy), document_path('privacy.pdf'), :target => '_blank' %>
          </legend>

          <%= f.error :privacy_acceptance %>
          <%= f.input_field :privacy_acceptance %>
          <%= f.label :privacy_acceptance, t(:I_agree) %>
        </fieldset>
      </li>
  <% else %>
      <li data-role="fieldcontain">
        <fieldset data-role="controlgroup">
          <%= label_tag 'account_disable_account', t(:disable_account) %>
          <%= check_box_tag 'account_disable_account', '1', false, 'data-warning' => t(:Account_disable_confirmation), :name => 'account[disable_account]'  %>

          <p>&nbsp;</p>
          <span style="color:red"><%=t :Warning %></span> <%=t :Account_disable_confirmation %>
        </fieldset>
      </li>
  <% end %>

  <li><%= f.button :submit %></li>
</ul>
