<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% if Configuration.get('use_automatic_username') == "false" or Configuration.get('use_mobile_phone_as_username') == "false" or !account.new_record? %>
    <%= f.input :username, :disabled => !account.new_record? %>
<% end %>


<% if account.new_record? %>
    <% if account_verification_methods.length == 1 %>
        <%= f.input :verification_method, :as => :hidden %>
    <% else %>
        <%= f.input :verification_method, :collection => account_verification_select, :prompt => false %>
    <% end %>
<% end %>


<%= render 'common/form_elements/mobile_phone', :form => f, :owner => account, :prefixes => mobile_prefixes %>

<%= render 'common/form_elements/identity_document', :form => f, :owner => account %>

<%= render 'common/form_elements/credit_card', :form => f, :owner => account %>

<%= render 'common/form_elements/personal_data', :form => f, :owner => account, :countries => countries %>


<% if account.new_record? %>
    <div id="captcha">
      <p class="center">
        <%= captcha_tag %><br />
        <%= link_to t(:listen_captcha), spoken_captcha_url %><br />
      </p>
      <%= f.input :captcha %>
    </div>

    <div id="eula_priv">
      <%= link_to t(:Click_for_eula), document_path('eula.pdf'), :target => '_blank' %>
      <%= f.input :eula_acceptance, :error => false %>

      <%= link_to t(:Click_for_privacy), document_path('privacy.pdf'), :target => '_blank' %>
      <%= f.input :privacy_acceptance, :error => false %>
    </div>
<% else %>
    <div id="disable_account">
      <strong><%= label_tag t(:disable_account) %></strong><br/>
      <%= check_box_tag 'account_disable_account', '1', false, 'data-warning' => t(:Account_disable_confirmation), :name => 'account[disable_account]'  %>
    </div>
<% end %>


<%= f.button :submit %>
<%= link_to t(:Undo), :back %>