<%= content_for :data_url, edit_account_path %>

<% content_for :header do %>
    <h1><%=t :Edit %></h1>
<% end %>

<% content_for :back do %>
    <%= mobile_link_back_to account_path %>
<% end %>

<% form_for @account, :builder => ErrorFormBuilder, :url => account_path do |f| %>
    <% if @account.errors.any? %>
        <div data-role="collapsible">
          <h3><%=t 'activerecord.errors.template.header', :count => @account.errors.count %></h3>
          <p><%= f.error_messages %></p>
        </div>
    <% end %>

    <%= render :partial => "form", :object => f, :locals => { :countries => @countries, :mobile_prefixes => @mobile_prefixes } %>
<% end %>

