<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<%= stylesheet_link_tag 'custom' %>

<div class="nolayout">
  <h3><%=t_safe :Credit_Card_Verification_Success_Heading %></h3>
  <p class="meta"><%= t_safe :Credit_Card_Verification_Success_Paragraph %> <span id="time-counter">5</span> <%=t :Seconds %>.</p>
</div>

<script type="text/javascript">
    // remove confirm message need and set timer
    $ = parent.window.$
    $('.close').removeAttr('data-confirm-message')
    timer = setInterval(function(){
        var counter = $(document.getElementById('time-counter')),
            value = parseInt(counter.text());
        if(value > 0){
            counter.text(value-1);
        }
        else{
            clearTimeout(timer);
            parent.window.owums.toggleOverlay();
            parent.location.href = '<%= url_for(:action => :show) %>'
        }
    }, 1000);
</script>