<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<%= stylesheet_link_tag 'custom' %>

<div class="nolayout">
  <h3><%=t_safe :Credit_Card_Verification_Error_Heading %></h3>
  <p class="meta"><%=t :Credit_Card_Verification_Error_Paragraph %></p>
  <p><a href="#" onclick="parent.window.$('.close').trigger('click');return false;"><%=t :Close %></a></p>
</div>
<script type="text/javascript">
    $ = parent.window.$
    $('.close').removeAttr('data-confirm-message')
    .unbind('click')
    .click(function(){
      parent.window.owums.toggleOverlay();
      parent.location.href = '<%= url_for(:action => :show) %>';
    });
</script>