<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<%= content_for :data_url, account_path %>

<% content_for :header do %>
    <h1><%=t :Information %></h1>
    <%= link_to t(:Instructions), account_instructions_path, 'data-icon' => 'info', 'data-role' => 'button' %>
<% end %>

<%# Reload the graphs every time, skipping jQuery Mobile cache %>
<%= javascript_include_tag 'owums.account_logins_graph', :cache => false %>
<%= javascript_include_tag 'owums.account_traffic_graph', :cache => false %>

<div data-role="collapsible">
  <h2><%= t(:Personal_details) %></h2>

  <p>
    <strong><%=t :Name %></strong>: <%= @account.given_name %> <%= @account.surname %>
  </p>
  <p>
    <strong><%=t :Username %></strong>: <%= @account.username %>
  </p>

  <% if @account.has_image? %>
      <p>
        <strong><%=t :Document_photo %></strong>:<br />
        <%= document_of @account %>
      </p>
  <% end %>

  <p>
    <strong><%=t :State %></strong>: <%= @account.state %>
  </p>
  <p>
    <strong><%=t :City %></strong>: <%= @account.city %>
  </p>
  <p>
    <strong><%=t :Address %></strong>: <%= @account.address %>
  </p>
  <p>
    <strong><%=t :Email %></strong>: <%= @account.email %>
  </p>

  <p><%= link_to t(:Edit), edit_account_path, 'data-role' => 'button', 'data-icon' => 'gear', 'data-theme' => 'a' %></p>
</div>

<div data-role="collapsible" data-collapsed="true">
  <h2><%= t(:Graphs) %></h2>

  <h3><%= t(:Logins) %></h3>
  <h4 class="no_graphs"><%=t :Graphs_not_supported %></h4>

  <div class="block account_graph" id="account_logins_graph"></div>

  <h3><%= t(:Traffic) %></h3>
  <h4 class="no_graphs"><%=t :Graphs_not_supported %></h4>

  <div class="block account_graph" id="account_traffic_graph"></div>
</div>

<div data-role="collapsible" data-collapsed="true">
  <h2><%= t(:Last_x_user_sessions, :count => 10) %></h2>

  <table>
    <thead>
    <tr>
      <th><strong><%=t :From %></strong></th>
      <th><strong><%=t :To %></strong></th>
      <th><strong><%=t :Downloaded_bytes %></strong></th>
      <th><strong><%=t :Uploaded_bytes %></strong></th>
    </tr>
    </thead>

    <tbody>
    <% @account.last_sessions(10).each do |session| %>
        <tr>
          <td><%=l session.acct_start_time, :format => :short %></td>
          <% if session.acct_stop_time.blank? %>
              <td><%=t :online %></td>
          <% else %>
              <td><%=l session.acct_stop_time, :format => :short %></td>
          <% end %>
          <td><%= bytes_to_human(session.acct_output_octets) %></td>
          <td><%= bytes_to_human(session.acct_input_octets) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<p><%= button_to t(:Refresh_data), "", :method => :get, 'data-transition' => 'fade', 'data-icon' => 'refresh', 'data-theme' => 'a' %></p>

